In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
import sklearn 
from sklearn import preprocessing as per

In [4]:
df = pd.read_csv('Salary_Data.csv')
df

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872

# MinMaxScaler

In [7]:
scaler = per.MinMaxScaler(feature_range=(0,1))
rescaledData = scaler.fit_transform(df)
rescaledData = pd.DataFrame(rescaledData,index=df.index,columns=df.columns)
print(rescaledData)

    YearsExperience       Age    Salary
0          0.000000  0.000000  0.019041
1          0.021277  0.029412  0.100094
2          0.042553  0.041176  0.000000
3          0.095745  0.058824  0.068438
4          0.117021  0.070588  0.025514
5          0.191489  0.117647  0.223376
6          0.202128  0.117647  0.264812
7          0.223404  0.135294  0.197425
8          0.223404  0.135294  0.315545
9          0.276596  0.152941  0.229837
10         0.297872  0.170588  0.301051
11         0.308511  0.176471  0.213359
12         0.308511  0.176471  0.227097
13         0.319149  0.176471  0.228561
14         0.361702  0.235294  0.276163
15         0.404255  0.235294  0.356804
16         0.425532  0.294118  0.334255
17         0.446809  0.352941  0.535755
18         0.510638  0.411765  0.515379
19         0.521277  0.470588  0.663938
20         0.606383  0.529412  0.637928
21         0.638298  0.529412  0.715119
22         0.723404  0.588235  0.750898
23         0.755319  0.647059  0.898665
24         0.808511  0.705882  0.846917
25         0.840426  0.764706  0.801453
26         0.893617  0.823529  0.935956
27         0.904255  0.882353  0.884763
28         0.978723  0.941176  1.000000
29         1.000000  1.000000  0.993870

# StandardScaler

In [8]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler().fit(df)
standardizedData = scaler.transform(df)
standardizedData = pd.DataFrame(standardizedData,index = df.index,columns = df.columns)
print(standardizedData)

    YearsExperience       Age    Salary
0         -1.510053 -1.225076 -1.360113
1         -1.438373 -1.126544 -1.105527
2         -1.366693 -1.087131 -1.419919
3         -1.187494 -1.028012 -1.204957
4         -1.115814 -0.988600 -1.339781
5         -0.864935 -0.830949 -0.718307
6         -0.829096 -0.830949 -0.588158
7         -0.757416 -0.771830 -0.799817
8         -0.757416 -0.771830 -0.428810
9         -0.578216 -0.712712 -0.698013
10        -0.506537 -0.653593 -0.474333
11        -0.470697 -0.633886 -0.749769
12        -0.470697 -0.633886 -0.706620
13        -0.434857 -0.633886 -0.702020
14        -0.291498 -0.436823 -0.552504
15        -0.148138 -0.436823 -0.299217
16        -0.076458 -0.239760 -0.370043
17        -0.004779 -0.042697  0.262859
18         0.210261  0.154366  0.198860
19         0.246100  0.351429  0.665476
20         0.532819  0.548492  0.583780
21         0.640339  0.548492  0.826233
22         0.927058  0.745555  0.938611
23         1.034577  0.942618  1.402741
24         1.213777  1.139682  1.240203
25         1.321296  1.336745  1.097402
26         1.500496  1.533808  1.519868
27         1.536336  1.730871  1.359074
28         1.787215  1.927934  1.721028
29         1.858894  2.124997  1.701773

# Normalization

In [14]:
from sklearn.preprocessing import Normalizer

In [15]:
scaler = Normalizer().fit(df)
NormalizeData = scaler.transform(df)
NormalizeData = pd.DataFrame(NormalizeData,index = df.index,columns = df.columns)
print(NormalizeData)

    YearsExperience       Age  Salary
0          0.000028  0.000534     1.0
1          0.000028  0.000465     1.0
2          0.000040  0.000575     1.0
3          0.000046  0.000505     1.0
4          0.000055  0.000557     1.0
5          0.000051  0.000406     1.0
6          0.000050  0.000382     1.0
7          0.000059  0.000428     1.0
8          0.000050  0.000362     1.0
9          0.000065  0.000413     1.0
10         0.000062  0.000378     1.0
11         0.000072  0.000430     1.0
12         0.000070  0.000421     1.0
13         0.000072  0.000420     1.0
14         0.000074  0.000409     1.0
15         0.000072  0.000368     1.0
16         0.000077  0.000394     1.0
17         0.000064  0.000325     1.0
18         0.000073  0.000344     1.0
19         0.000064  0.000309     1.0
20         0.000074  0.000327     1.0
21         0.000072  0.000305     1.0
22         0.000078  0.000306     1.0
23         0.000072  0.000281     1.0
24         0.000080  0.000302     1.0
25         0.000085  0.000322     1.0
26         0.000081  0.000299     1.0
27         0.000085  0.000320     1.0
28         0.000084  0.000302     1.0
29         0.000086  0.000312     1.0